@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@keyframes obj-rotate {
  0% {
    transform: scale(1) rotateY(0deg);
  }
  100% {
    transform: scale(1.5) rotateY(-1turn);
  }
}

@keyframes star-rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1turn);
  }
}

@keyframes scene-rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}

@keyframes scene-rotate-sm {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes scene-rotate-star {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

body {
  overflow: hidden;
  height: 100vh;
  background: #355c7d;
  background: -webkit-linear-gradient(to top, #c06c84, #6c5b7b, #355c7d);
  background: linear-gradient(to top, #c06c84, #6c5b7b, #355c7d);
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.container .ball {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  transform: translate(-50%, -50%);
}

.scene {
  transform-style: preserve-3d;
  /* 나중에 회전 */
  animation: scene-rotate 10s linear infinite alternate;
}

.scene .circle {
  font-size: 40px;
  font-weight: bold;
  /* 나중에 작성 */
  animation: obj-rotate 15s linear infinite alternate;
  transform-style: preserve-3d;
}
.scene .circle .word {
  transform-style: preserve-3d;
}
.scene .circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateY(calc(var(--char-index) * 11deg)) translateX(-50%)
    translateY(-50%) translateZ(350px);
}

.scene-sm {
  animation: scene-rotate-sm 10s linear infinite alternate;
}
.scene-sm .circle-sm {
  font-size: 20px;
  font-weight: bold;
  /* 나중에 작성 */
  animation: obj-rotate 5s linear infinite alternate;
  transform-style: preserve-3d;
}
.scene-sm .circle-sm .word {
  transform-style: preserve-3d;
}
.scene-sm .circle-sm span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateY(calc(var(--char-index) * 11deg)) translateX(-50%)
    translateY(-50%) translateZ(220px);
}

.scene-star {
  transform: rotateZ(-50deg);
}
.scene-star .star {
  animation: star-rotate 2s linear infinite;
  transform-style: preserve-3d;
}
.scene-star .star .word {
  transform-style: preserve-3d;
}
.scene-star .star span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateY(calc(var(--char-index) * 3deg)) translateX(-50%)
    translateY(-50%) translateZ(530px);
}

.scene-star-big {
  transform: rotateZ(180deg);
}
.scene-star-big .star-big {
  font-size: 30px;
  animation: star-rotate 2s linear infinite;
  transform-style: preserve-3d;
}
.scene-star-big .star-big .word {
  transform-style: preserve-3d;
}
.scene-star-big .star-big span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateY(calc(var(--char-index) * 3deg)) translateX(-50%)
    translateY(-50%) translateZ(220px);
}
