@charset "utf-8";

/* base */
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url("fonts/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url("fonts/SpoqaHanSansNeo-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url("fonts/SpoqaHanSansNeo-Bold.woff") format("woff");
  font-weight: 700;
}

body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

#appLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cont-login {
  width: 440px;
  height: 172px;
  padding: 38px 30px 30px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  text-align: center;
}

.cont-login .tit-weniv img {
  width: 122px;
}

.cont-login .txt-login {
  margin: 32px 0 36px;
  font-size: 16px;
  line-height: 20px;
}

/* Modal style */
.modal-login {
  display: none;
  height: 100%;
}
.modal-login.on {
  display: block;
}
.modal-login::after {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  z-index: 10;
}
.modal-login .cont-form-login {
  width: 100%;
  max-width: 520px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
}

.cont-form-login .tit-form {
  padding: 20px 0 18px;
  border-bottom: 1px solid #c4c4c4;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.cont-form-login .txt-form {
  margin: 26px 0 24px;
  padding-left: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.cont-form-login .form-login {
  padding: 0 24px;
  text-align: center;
}
.form-login .inp-error {
  text-align: left;
}
.form-login .labl-hold {
  position: relative;
  display: block;
  margin: 17px 0 21px;
  text-align: left;
  cursor: pointer;
  user-select: none;
}
.form-login .labl-hold::before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  margin-right: 8px;
  background-image: url("images/icon_check_empty.png");
  vertical-align: -5px;
}
.form-login .inp-hold:checked + .labl-hold::before {
  background-image: url("images/icon_check.png");
}

/* 접근성 */
.form-login .inp-hold:focus + .labl-hold::before {
  outline: 3px solid #000;
  border-radius: 2px;
  outline-offset: 2px; /* 요소와의 거리 */
}
/* 내가 작성한 코드 */
/* .form-login .inp-hold:focus + .labl-hold::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  width: 145px;
  border: 2px solid #000;
  border-radius: 3px;
} */

.form-login a[class^="link"] {
  display: inline-block;
  margin-top: 20px;
  color: #767676;
  font-size: 14px;
  line-height: 18px;
}

.form-login .link-signup::after {
  display: inline-block;
  content: "\007c";
  margin: 0 8px 0 12px;
}

.cont-form-login .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 20px 18px;
  box-sizing: content-box;
}

.cont-form-login .cont-sns-login {
  position: relative;
  margin-top: 30px;
  padding: 30px 24px 25px;
}
.cont-sns-login::before {
  display: block;
  content: "또는";
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: 52px;
  height: 18px;
  background-color: #fff;
  color: #767676;
  text-align: center;
}
.cont-sns-login::after {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 24px;
  right: 24px;
  height: 1px;
  background-color: #c4c4c4;
}

.cont-sns-login .list-sns li + li {
  margin-top: 10px;
}
