@charset "utf-8";

* {
  font-family: "IBM Plex Sans KR", sans-serif;
}
/* index.html */

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  min-height: 500px;
  background-color: #0d6efd;
  color: #fff;
  text-align: center;
}

.landing h1 {
  padding-bottom: 3px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  font-size: 40px;
  font-weight: 700;
}

.landing p {
  margin-bottom: 2px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background-color: #e8eef4;
  color: #7c8081;
}

/* test.html */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  min-height: 70px;
  background-color: #0d6efd;
  color: #fff;
  text-align: center;
}

.header h1 {
  padding-bottom: 3px;
  margin-bottom: 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  font-size: 40px;
  font-weight: 700;
}

.questions .question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  border-bottom: 1px solid #eee;
}

.questions .question h2 {
  font-size: 32px;
  font-weight: 700;
}

.questions .question p {
  width: 80%;
  text-align: center;
}

/* result.html */
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  text-align: center;
}

.result img {
  width: 80%;
  max-width: 500px;
}

.result p {
  width: 70%;
}
