#app {
  display: grid;
  gap: 28px;
  margin: 65px 0;
  .vending-machine {
    grid-column: 1 / 2;
    padding: 30px 30px 30px 27px;
    background-color: $white;
  }
}

.vending-machine {
  .list-items {
    display: grid;
    grid-template-columns: repeat(3, 96px);
    grid-template-rows: repeat(2, minmax(136px, auto));
    gap: 12px;
    li {
      // box-sizing: border-box;
      border-radius: $border-r-10;
      box-shadow: $shadow-25;
      &.selected {
        position: relative;
      }
      &.selected::after {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        border: 3px solid $main-color;
        border-radius: $border-r-10;
      }
      &.sold-out {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: $border-r-10;
          background: url("../img/Sold-out.png") no-repeat center center
            rgba(0, 0, 0, 0.8);
          background-size: 70%;
        }
      }
    }
    .btn-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 10px 0;
      border-radius: $border-r-10;
      background-color: $white;
      .img-item {
        width: 36px;
        height: 65px;
      }
      .tit-item {
        font-size: $font-9;
        font-weight: $font-w-500;
      }
      .txt-item {
        width: 70px;
        padding: 5px 0;
        border-radius: 50px;
        background-color: $main-color;
        color: $white;
        font-size: $font-12;
      }
    }
  }
}

.vending-machine {
  .cont-mycart {
    display: grid;
    grid-template-columns: 195px 93px;
    grid-template-rows: 33px 33px 106px;
    gap: 12px;
    margin-top: 20px;
    .cart-mycart__col-left {
      padding: 6px 10px 7px;
      box-sizing: border-box;
      border-radius: $border-r-5;
      font-size: $font-14;
      line-height: 20px;
    }
    .info-balance {
      overflow: hidden;
      background-color: $sub-color;
      .txt-balance {
        float: right;
      }
    }
    .inp-insert {
      border: $border-main;
      background: $white;
      &::placeholder {
        color: #bdbdbd;
        font-size: $font-13;
      }
    }
    .cart-mycart__col-right {
      padding: 6px 0 7px;
      box-sizing: border-box;
      border-radius: $border-r-5;
      background-color: $white;
      box-shadow: $shadow-25;
      font-size: $font-13;
    }
    .btn-get {
      background-color: $main-color;
      box-shadow: $shadow-50;
      color: $white;
      font-weight: $font-w-700;
    }
  }
}
