@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin grid($cols, $rows, $g) {
  display: grid;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
  gap: $g;
}

@mixin itemAfter($t: 0, $r: 0, $b: 0, $l: 0, $border-r: $border-r-10) {
  content: "";
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  border-radius: $border-r;
}

@mixin fontStyle($c, $s, $w: $font-w-500, $l: null) {
  color: $c;
  font-size: $s;
  font-weight: $w;
  line-height: $l;
}
