$white: #fff;

$main-color: #6327fe;
$sub-color: #eae8fe;

$font-9: 9px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;

$font-w-500: 500;
$font-w-700: 700;

$font-fam-main: "Noto Sans KR", sans-serif;

$border-main: 1px solid #bdbdbd;

$shadow-25: 0 0 4px rgba(0, 0, 0, 0.25);
$shadow-50: 0 0 4px rgba(0, 0, 0, 0.5);
