@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");
.tit-app {
  width: 386px;
}

#app {
  display: -ms-grid;
  display: grid;
  gap: 28px;
  margin: 65px 0;
}

#app .vending-machine {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 30px 30px 30px 27px;
  background-color: #fff;
}

#app .my-page {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 369px;
}

.list-items-cart {
  border: 1px solid #bdbdbd;
  background-color: #eae8fe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  padding: 12px 16px 12px 12px;
}

.list-items-cart::-webkit-scrollbar {
  width: 4px;
}

.list-items-cart::-webkit-scrollbar-track {
  background: transparent;
}

.list-items-cart::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-items-cart .item-cart {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 8px 8px 8px 10px;
}

.list-items-cart .item-cart + .item-cart {
  margin-top: 6px;
}

.list-items-cart .img-item {
  width: 18px;
  height: 33px;
}

.list-items-cart .tit-item {
  font-size: 9px;
  line-height: 33px;
  margin-left: 10px;
}

.list-items-cart .num-counter {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  width: 31px;
  height: 31px;
  text-align: center;
  line-height: 30px;
}

.vending-machine .list-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (96px)[3];
      grid-template-columns: repeat(3, 96px);
  -ms-grid-rows: (minmax(136px, auto))[2];
      grid-template-rows: repeat(2, minmax(136px, auto));
  gap: 12px;
}

.vending-machine .list-items li {
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.vending-machine .list-items li.selected {
  position: relative;
}

.vending-machine .list-items li.selected::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: 10px;
  border: 3px solid #6327fe;
}

.vending-machine .list-items li.sold-out {
  position: relative;
}

.vending-machine .list-items li.sold-out::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: url("../img/Sold-out.png") no-repeat center center rgba(0, 0, 0, 0.8);
  background-size: 70%;
}

.vending-machine .list-items .btn-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.vending-machine .list-items .btn-item .img-item {
  width: 36px;
  height: 65px;
}

.vending-machine .list-items .btn-item .tit-item {
  font-size: 9px;
  font-weight: 500;
}

.vending-machine .list-items .btn-item .txt-item {
  border-radius: 50px;
  background-color: #6327fe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  width: 70px;
  padding: 5px 0;
}

.vending-machine .cont-mycart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 204px 96px;
      grid-template-columns: 204px 96px;
  -ms-grid-rows: 33px 33px 106px;
      grid-template-rows: 33px 33px 106px;
  gap: 12px;
  margin-top: 20px;
}

.vending-machine .cont-mycart .cart-mycart__col-left {
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 10px 7px;
}

.vending-machine .cont-mycart .info-balance {
  overflow: hidden;
  background-color: #eae8fe;
}

.vending-machine .cont-mycart .info-balance .txt-balance {
  float: right;
}

.vending-machine .cont-mycart .inp-insert {
  border: 1px solid #bdbdbd;
  background: #fff;
}

.vending-machine .cont-mycart .inp-insert::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 13px;
}

.vending-machine .cont-mycart .inp-insert:-ms-input-placeholder {
  color: #bdbdbd;
  font-size: 13px;
}

.vending-machine .cont-mycart .inp-insert::-ms-input-placeholder {
  color: #bdbdbd;
  font-size: 13px;
}

.vending-machine .cont-mycart .inp-insert::placeholder {
  color: #bdbdbd;
  font-size: 13px;
}

.vending-machine .cont-mycart .cart-mycart__col-right {
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  font-weight: 500;
  padding: 6px 0 7px;
}

.vending-machine .cont-mycart .btn-get {
  background-color: #6327fe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 700;
}

.my-page .cont-mymoney {
  padding: 9px 27px;
  background-color: #fff;
}

.my-page .cont-mymoney .info-mymoney {
  border-radius: 5px;
  background-color: #eae8fe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  padding: 6px 10px;
}

.my-page .cont-mymoney .txt-mymoney {
  float: right;
  font-weight: 700;
}

.my-page .cont-myitems {
  overflow: hidden;
  padding: 25px 27px;
  background-color: #fff;
  text-align: center;
}

.my-page .cont-myitems .tit-myitems {
  font-size: 14px;
  line-height: 20px;
}

.my-page .cont-myitems .list-items-cart {
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 378px;
  margin: 13px 0 6px;
  text-align: left;
}

.my-page .tit-total {
  font-size: 12px;
  line-height: 17px;
  float: right;
}

@media screen and (max-width: 768px) {
  .tit-app {
    width: 276px;
  }
  #app .vending-machine {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  #app .my-page {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 480px) {
  .tit-app {
    width: 166px;
  }
  #app {
    gap: 0;
    margin: 16px 0 0;
  }
  #app .vending-machine {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    padding-bottom: 20px;
  }
  #app .my-page {
    row-gap: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  #app .my-page .cont-mymoney {
    padding: 0 27px;
  }
  #app .my-page .cont-myitems {
    padding: 41px 27px;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eae8fe;
  font-family: "Noto Sans KR", sans-serif;
}
/*# sourceMappingURL=styls_scss.css.map */