@charset "utf-8";

body {
  display: flex;
  flex-direction: column;
}

header,
section,
article,
aside,
footer {
  position: relative;
  padding: 30px 0;
}

.area-name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: khaki;
}

.logo {
  padding: 0 30px;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  display: flex;
  padding-right: 20px;
}

.menu li {
  margin-left: 10px;
}

.menu .link-menu {
  padding: 5px 15px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.btn-toggle {
  display: none;
  margin-right: 30px;
  padding: 10px 10px 8px;
  border: 0;
  background: none;
}

/* main */
main {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
}

/* main > section */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 4;
  padding: 30px;
  background-color: lemonchiffon;
}

article {
  width: 48%;
  background-color: lightgreen;
}

article:nth-of-type(1) {
  width: 100%;
}

article + article {
  margin-top: 4%;
}

/* main > aside */
aside {
  flex: 1;
  background-color: lavender;
}

/* footer */
footer {
  min-height: 50px;
  background-color: lightcoral;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .btn-toggle {
    display: block;
    cursor: pointer;
  }

  main {
    flex-direction: column;
  }
  section {
    flex: 1;
  }

  aside {
    flex: 1;
  }
}
