@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eae8fe;
  font-family: "Noto Sans KR", sans-serif;
}

.tit-app {
  width: 386px;
  margin-bottom: 65px;
}

#app {
  display: grid;
  /* grid-template-columns: repeat(2, 360px); */
  gap: 28px;
  margin-bottom: 150px;
}

/* Common style - ul.list-items-cart*/
.list-items-cart {
  overflow-y: scroll;
  padding: 12px 16px 12px 12px;
  border: 1px solid #bdbdbd;
  background-color: #eae8fe;
}
.list-items-cart::-webkit-scrollbar {
  width: 4px;
}
.list-items-cart::-webkit-scrollbar-track {
  background: transparent;
}
.list-items-cart::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.list-items-cart .item-cart {
  overflow: hidden;
  padding: 8px 8px 8px 10px;
  border-radius: 5px;
  background-color: #fff;
}
.list-items-cart .item-cart + .item-cart {
  margin-top: 6px;
}
.list-items-cart .img-item {
  width: 18px;
  height: 33px;
}
.list-items-cart .tit-item {
  margin-left: 10px;
  font-size: 9px;
  line-height: 33px;
}
.list-items-cart .num-counter {
  float: right;
  width: 31px;
  height: 31px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

/* section.vending-machine */
.vending-machine {
  grid-column: 1 / 2;
  padding: 30px 30px 30px 27px;
  background-color: #fff;
}
.vending-machine .list-items {
  display: grid;
  grid-template-columns: repeat(3, 96px);
  grid-template-rows: repeat(2, minmax(136px, auto));
  gap: 6px;
}
.list-items li {
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}
.list-items li.selected {
  border-color: #6327fe;
  filter: none;
}
.list-items li.sold-out {
  position: relative;
  filter: none;
}
.list-items li.sold-out::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/Sold-out.png") no-repeat center center
    rgba(0, 0, 0, 0.8);
  background-size: 70%;
}
.list-items .btn-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background-color: #fff;
}
.btn-item .img-item {
  width: 36px;
  height: 65px;
}
.btn-item .tit-item {
  font-size: 9px;
  font-weight: 500;
  line-height: 13px;
}
.btn-item .txt-item {
  width: 70px;
  padding: 5px 0;
  border-radius: 50px;
  background-color: #6327fe;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}

/* article.cont-mycart */
.cont-mycart {
  display: grid;
  grid-template-columns: 195px 93px;
  grid-template-rows: 33px 33px 106px;
  gap: 12px;
  margin-top: 20px;
}

.cont-mycart .cart-mycart__col-left {
  padding: 6px 10px 7px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
}
.cont-mycart .info-balance {
  overflow: hidden;
  background-color: #eae8fe;
}
.cont-mycart .info-balance .txt-balance {
  float: right;
}
.cont-mycart .inp-insert {
  border: 1px solid #bdbdbd;
  background: #fff;
}
.cont-mycart .inp-insert::placeholder {
  color: #bdbdbd;
  font-size: 13px;
}
.cont-mycart .cart-mycart__col-right {
  padding: 6px 0 7px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  font-size: 13px;
}
.cont-mycart .btn-get {
  background-color: #6327fe;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
  color: #fff;
  font-weight: 700;
}

/* section.my-page */
.my-page {
  display: grid;
  grid-column: 2 / 3;
  row-gap: 20px;
  width: 357px;
}

.my-page .cont-mymoney {
  padding: 9px 27px;
  background-color: #fff;
}
.cont-mymoney .info-mymoney {
  overflow: hidden;
  padding: 6px 10px;
  border-radius: 5px;
  background: #eae8fe;
  font-size: 14px;
  line-height: 20px;
}
.cont-mymoney .txt-mymoney {
  float: right;
  font-weight: 700;
}

.my-page .cont-myitems {
  overflow: hidden;
  padding: 25px 27px;
  background-color: #fff;
  text-align: center;
}
.cont-myitems .tit-myitems {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.cont-myitems .list-items-cart {
  height: 378px;
  margin: 13px 0 6px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: left;
}
.my-page .tit-total {
  float: right;
  font-size: 12px;
  line-height: 17px;
}

/* Ref */
/* 
@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
} */

@media screen and (min-width: 320px) /* 기기의 넓이가 320px 이상 */ and (max-width: 480px) {
  body {
    background-color: #fff;
  }

  .tit-app {
    width: 166px;
    margin-bottom: 16px;
  }

  #app {
    gap: 0;
    margin-bottom: 0;
  }

  /* section.vending-machine */
  .vending-machine {
    padding-bottom: 20px;
    grid-row: 1 / 2;
  }

  /* section.my-page */
  .my-page {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    row-gap: 0;
  }

  .my-page .cont-mymoney {
    padding: 0 27px;
  }

  .my-page .cont-myitems {
    padding: 41px 27px;
  }
}
