@charset "utf-8";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@keyframes tada {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -3730px 0;
    /* background-position: -3842px 0; */
  }
}

.building1 {
  width: 110px;
  height: 180px;
  background: url("images/building1.png") no-repeat;
  animation: tada 5s steps(33) forwards;
}
